* {
  margin: 0;
}

#draggable {
  width: 200px;
  height: 20px;
  text-align: center;
  background: black;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.main {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
}

.todocard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: tomato;
  width: 25%;
  transition: 0.5s all ease-in;
}

.doingcard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: tomato;
  width: 25%;
  transition: 0.5s all ease-in;
}

.donecard {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: tomato;
  width: 25%;
  transition: 0.5s all ease-in;
}

.todocard:hover {
  width: 26%;
}

.doingcard:hover {
  width: 26%;
  transition: 0.5s all ease-in;
}

.donecard:hover {
  width: 26%;
  transition: 0.5s all ease-in;
}

.tdmaincardtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.tdmaincardbox{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px;
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  resize: none;
  width: auto;
  height: auto;
  resize: none;
}

.tdmaincardadd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.domaincardtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.domaincardbox{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px;
  background-color: white;
  border-radius: 10px;
  padding: 12px;
  resize: none;
}

.dropzone{
  background-color: white;
  min-height: 100px;
  margin: 0 12px;
}

.dropzone1{
  background-color: white;
  min-height: 100px;
  margin: 0 12px;
}

.dropzone2{
  background-color: white;
  min-height: 100px;
  margin: 0 12px;
}

.domaincardadd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.donemaincardtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.donemaincardbox{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 16px;
  background-color: white;
  border-radius: 10px;
  padding: 12px;
}

.donemaincardadd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.cardtitle{
  padding: 12px 0;
}

.cardinfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons{
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.cardinfo .iconset{
  display: flex;
  flex-direction: row;
  gap: 6px;
}



.addcard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.imgpro img{
  width: 24px;
  height: 24px;
  object-fit: cover;
  border-radius: 50px;
}